@import '~mdb-ui-kit/css/mdb.min.css';
.addWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.addWrapper__input {
  width: 50%;
  margin: 10px;
}
.addWrapper__select {
  margin: 10px;
}
table,
th,
td {
  border: 1px solid black;
}

.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  input:focus {
    background-color: #ddd;
    outline: none;
  }
}
 .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
 .cancel {
  background-color: red;
}

.btn:hover, .open-button:hover {
  opacity: 1;
}





.fill {
  position: relative;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.empty {
  display: inline-block;
  height: 560px;
  width: 560px;
  margin: 10px;
  border: solid 3px salmon;
  background: white;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}
